
.notify{
	text-align: center;
	display: none;
	top: 50%;
	transform:translateY(-50%);
	position: relative;
}
#finish{
	color: blue;
}
line{
	stroke:rgb(0,0,0);
	stroke-width:15;
}
.visited{
	stroke: rgb(0,200,0);
}
#error{
	display: none;
	margin-left: 34%;
	color: red;
	height: 380px;
	width: 300px;
	background-repeat: no-repeat;
	background: url(monkey.png);
}

#errorMsg {
	position: relative;
	top: 75%;
	max-width: 70%;
	margin: 0 auto;
}

#main{
	margin: 0 auto;
	background: url(back.jpg);
	width: 1024px;
	height: 720px;
}

#container{
	position: absolute;
	margin-left: 19%;
	top: 30%;
}

@media (max-width: 1440px) {
	#container{
		margin-left: 24%;
	}		
	#error {
		margin-left: 32%;
	}
}

@media (max-width: 1280px) {
	#container{
		margin-left: 28%;
	}
	#error {
		margin-left: 33%;
	}		
}